@import url("https://fonts.googleapis.com/css2?family=GFS+Didot&family=Noto+Sans&family=Orbitron&display=swap");

html * {
  font-family: "Noto Sans", sans-serif;
}

h1,
h2,
h3 {
  font-family: "GFS Didot", serif;
}

.App {
  text-align: center;
}

#nav-bar {
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar {
  background-color: black;
  padding: 10px;
}

.navbar-brand {
  font-family: "Orbitron", sans-serif;
}

.navbar-nav li {
  padding: 5px;
  margin-bottom: 5px;
}

.btn-sign {
  background-color: #000000;
  border: 1px rgb(0, 0, 0) solid;
  border-radius: 0px;
  color: rgb(255, 255, 255);
  font-size: 13px;
  font-weight: bolder;
  padding: 10px 30px;
  transition: all 300ms ease-in-out;
}

.btn-sign:hover {
  border-radius: 0px;
  border: 1px rgb(255, 255, 255) solid;
  color: #fff;
}

.btn {
  background-color: #ffffff;
  border-radius: 0px;
  border: 1px rgb(0, 0, 0) solid;
  color: rgb(26, 26, 26);
  font-size: 13px;
  font-weight: bolder;
  padding: 10px 30px;
  transition: all 300ms ease-in-out;
}

.btn:hover {
  background-color: #000000;
  border-radius: 0px;
  border: 1px rgb(255, 255, 255) solid;
  color: #ffffff;
  padding: 10px 30px;
}

.btn-sing-up {
  background-color: #ffffff;
  border-radius: 0px;
  border: 1px rgb(0, 0, 0) solid;
  color: rgb(26, 26, 26);
  font-size: 15px;
  font-weight: bolder;
  padding: 10px 50px;
}

.btn-sing-up:hover {
  background-color: #000000;
  border: 1px rgb(255, 255, 255) solid;
  color: #ffffff;
  padding: 10px 50px;
}

#banner {
  color: #fff;
  padding-top: 5%;
  background-image: url("https://images.pexels.com/photos/841130/pexels-photo-841130.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-size: cover;
  height: 500px;
}

.banner-title {
  font-size: 60px;
  font-family: "GFS Didot", serif;
  font-weight: bold;
  margin-top: 100px;
}

.hero-image img {
  width: 100%;
}

.banner-title-div {
  position: absolute;
  left: 30px;
}

.banner-text {
  padding-right: 30px;
  margin: 20px auto;
  max-width: 70%;
}

.App h4,
.banner-title {
  text-shadow: 1px 1px 2px #000000;
}

.testimonial {
  margin-bottom: 5px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.testimonial .card {
  position: relative;
  border-radius: 0px;
  border-left: 0.5px darkgray dashed;
  border-right: 0.5px darkgray dashed;
  margin: 0 auto;
  background: #000000;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  color: #fff;
}

.testimonial .card .layer {
  position: absolute;
  top: calc(100% - 2px);
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
  z-index: 1;
  transition: 0.5s;
}

.testimonial .card:hover .layer {
  top: 0;
}

.testimonial .card .content {
  position: relative;
  z-index: 2;
}
.testimonial .card .content p {
  font-size: 18px;
  line-height: 24px;
}

.testimonial .card .content .image {
  width: 60px;
  height: 60px;
  padding-top: 5px;
  background-color: #fff;
  margin: 20px auto 50px auto;
  border-radius: 50%;
  overflow: hidden;
}

.testimonial .card .content .details h2 {
  font-size: 18px;
}

.testimonial .card .content h5 {
  margin: 10px;
  font-weight: bolder;
}

.testimonial .card:hover {
  color: #000000;
}

.testimonial .card:hover .nav-link {
  color: #000000;
}

.testimonial .nav {
  justify-content: center;
}

#login {
  background-image: url("https://images.pexels.com/photos/841134/pexels-photo-841134.jpeg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  width: 100%;
  left: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}

.card-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  border-radius: 0px;
  width: 40%;
  opacity: 0.9;
  border: 0.5px rgb(255, 255, 255) solid;
  background-color: black;
  color: #fff;
  padding: 40px 0;
}

.form-control {
  border-radius: 0px;
  height: 40px;
  margin-bottom: 20px;
  width: 100%;
}

.btn-login-page {
  width: 100%;
  background-color: #dc5800;
  color: #fff;
}

.login-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 20px auto;
  padding: 0 20px;
}

.login-header .bi {
  font-size: 80px;
  color: #fff;
  position: relative;
}

.login-middle {
  padding: 0 20px;
}

.login-middle form {
  padding: 0 40px;
  width: 100%;
}

.login-footer {
  padding: 0 20px;
}

.login-middle-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  width: 100%;
  justify-items: center;
}

.account-submit {
  width: 60%;
  grid-area: 6 / 1 / 6 / -1;
}

.success {
  border-radius: 5px;
  padding: 2px 20px;
  background-color: rgb(50, 124, 73);
  color: #fff;
}

.dropdown:hover > .dropdown-menu {
  font-size: 13px;
  display: block;
}

.dropdown > .dropdown-toggle:active {
  pointer-events: none;
}

.alert-danger {
  border-radius: 5px;
  text-align: center;
  color: #fff;
  padding: 2px 20px;
  background-color: rgb(122, 8, 10);
}

.nav-link,
.nav-link:hover {
  color: #fff;
}

.sudo-link:hover {
  cursor: pointer;
}

.center-content {
  display: flex;
  justify-content: center;
}

.card-form-workout {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 20px auto;
  width: 90%;
  opacity: 0.8;
  background-color: #000000;
  border: 0.5px white solid;
}

#workout {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  width: 100%;
  left: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  background-image: url("https://images.pexels.com/photos/6389887/pexels-photo-6389887.jpeg");
}

#workout h1 {
  text-align: center;
  color: #fff;
  padding: 40px;
}

.card-body {
  background-color: #fff;
  color: black;
  border-radius: 10px;
  font-size: 14px;
  transition: all 0.2s ease-in-out;
}

.card-body:hover {
  transform: scale(1.05);
}

.card-body i {
  font-size: 20px;
  padding: 0 10px;
  text-shadow: 2px 2px 5px #bdbdbd;
}

.btn-work-out {
  width: 60%;
  background-color: #dc5800;
  color: #fff;
}

.sign-up-card {
  border-radius: 0px;
  max-width: 50%;
  opacity: 0.9;
  border: 0.5px rgb(255, 255, 255) solid;
  background-color: black;
  color: #fff;
  padding: 20px 0;
  margin: 20px auto;
}

.login-header form,
label {
  color: rgb(0, 0, 0) !important;
}

#workout-view {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  width: 100%;
  left: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  background-image: url("https://images.pexels.com/photos/1552252/pexels-photo-1552252.jpeg");
}

.btn-work-out-single {
  width: 30%;
  background-color: #dc5800;
  color: #fff;
}
